body {background: #E1ECF9;
color: gray;
font-family: Arial, Helvetica, sans-serif;}

h1 {font-size: 35px;
border: double;
padding: 20px;
margin-top: 50px;
text-align: center;}

p {font-size: 16px;
margin: auto;}

.portf {font-size: 16px;
color: #091D34;
background: #E1ECF9;
margin-left: auto;
margin-right: 250px;
margin-top: 21px;
}

ol {list-style: upper-alpha}

ul {list-style: square}

.profile-image {border: dotted;
border-width: 2px;
width: 200px;
height: 200px;
margin: auto;
}

.link {
left: 10px;
background-color: #091D34;
color: #236AB9;
border: double;
padding: 10px;
border-radius: 15px
}

.div1 {
    height: 30px;
    width: auto;
    background-color: #091D34;
    margin-bottom: 20px;
}

.img1 {display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}

.img2 {float: right;
margin: 10px;
}

aside {float: right;
background-color: #236AB9;
color: #091D34;
width: 30%;
height: 390px;}

header {background-color: #609CE1;
color: #133863;}

footer {background-color: #091D34;
color: #236AB9;
text-align: center;
margin-top: 20px;}

section {float: left;
width: 70%;
background-color: #E1ECE9;
color: #133863;
height: 390px;}





